[submodule "openfx"]
    path = openfx
    url = https://github.com/AcademySoftwareFoundation/openfx.git
[submodule "OpenFX"]
	path = OpenFX
	url = https://github.com/AcademySoftwareFoundation/OpenFX.git
